body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: "Noto Sans", sans-serif;
    margin: 0;
    background-color: #333333;
    color: #dddddd;
    min-height: 100vh;
}

h1 { font-size: 40px; }
h2 { font-size: 35px; }
h3 { font-size: 30px; }
h4 { font-size: 25px; }
h5 { font-size: 20px; }
h6 { font-size: 15px; }

a {
    color: #3399FF;
    text-decoration: none;
    font-weight: bold;
}

iframe {
    border: none;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 960px;
    font-size: 18px;
}

.content > p {
    margin: 0 0 20px 0;
    padding: 0 10px 0 10px;
}

.footer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: end;
}

.footer > a {
    display: flex;
    align-items: center;
    color: inherit;
    font-weight: normal;
    margin: 10px;
}

.icon {
    margin: 5px;
}

.game {
    overflow: none;
}